<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta charset="utf-8" />

</head>

<body>
    <div id="buttons">
        <button id="decreaseSpeed" class="custom-file-upload">
            <span class=reload>&#9198;</span>
        </button>
        <button id="increaseSpeed" class="custom-file-upload">
            <span class=reload>&#9197;</span>
        </button>
        <label for="color-mode-label" class="file-name">
            Select mode
        </label>
        <select id="color-mode" name="colorMode">
            <option value="matrix">matrix</option>
            <option value="white-fade">white-fade</option>
            <option value="color">color</option>
        </select>
        <label id="current-mode" for="current-mode" class="file-name">
        </label>
    </div>
    <ul id="stats" align="bottom">
        <li id="generation">0 Generations</li>
        <li id="alive">0 Alive</li>
        <li id="birth">0 Births</li>
        <li id="death">0 Deaths</li>
    </ul>
    <ul id="peers-list" align="bottom">
    </ul>
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/img_util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dithering.js') }}"></script>
</body>

</html>